body {
    background-image: url(Back.jpg);
    background-size: cover;
    background-repeat: repeat;
    font-family: presario;
    background-attachment: fixed;
}

@font-face {
    font-family: presario;
    src: url(CompaqSupplement.ttf);
}

#header {
    position: fixed;
    height: 120px;
    width: 100%;
    border-bottom: double mediumslateblue;
    background-color: black;
    display: block;
    z-index: 1;
    top: 0px;
    left: 0px;
}

#logo {
    position:relative;
    height:20%;
    width:30%;
    top:20%;
}

#userform {
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 150%;
    color: #4819af;
    font-size: 100%;
    line-height: 20px;
}

#userdiv {
    position: absolute;
    height: 45%;
    width: 95%;
    left: 2%;
    top: 32%;
    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    border: 3px solid orange;
    border-radius: 10px 10px;
}

.heading {
    text-align: center;
    position: relative;
    width: 100%;
    color: #ff8625;
    font-weight: 900;
    font-size: 36px;
    text-wrap: normal;
}

.textbox {
    width: 80%;
    height: 20px;
    transition: 500ms;
    padding: 3px 3px 3px 3px;
    margin-right: 40px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.button {
    border: 2px solid transparent;
    display: inline-block;
    line-height: 42px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    vertical-align: bottom;
    border-radius: 5px;
    border-image: initial;
    padding: 8px 0px;
    outline: none;
    background: rgb(255, 134, 37);
    transition: all 0.3s ease;
    width: 80%;
}

#lawndiv {
    position: absolute;
    height: 60%;
    width: 95%;
    left: 2%;
    top: 32%;
    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    border: 3px solid orange;
    border-radius: 10px 10px;
}

#lawnform {
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 150%;
    color: #4819af;
    font-size: 100%;
    line-height: 20px;
}

#signindiv {
    position: absolute;
    height: 0%;
    width: 50%;
    left: 25%;
    top: 32%;
    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    border: 3px solid orange;
    border-radius: 10px 10px;
}

#signform {
    position: relative;
    top: 0%;
    left: 33%;
    font-size: 150%;
    color: #4819af;
    font-size: 100%;
    line-height: 20px;
}


#imagediv {
    position: absolute;
    height: 60%;
    width: 50%;
    left: 25%;
    top: 32%;
    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    border: 3px solid orange;
    border-radius: 10px 10px;
}

#imageform {
    position: relative;
    top: 0%;
    left: 33%;
    font-size: 150%;
    color: #4819af;
    font-size: 100%;
    line-height: 20px;
}
