body {
    background-image: url(Back.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: myfont;
}

@font-face {
    font-family: myfont;
    src: url(VtksLombriga.ttf);
}

#menubar {
    position: relative;
    top: 30%;
    left: 23%;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color: #ff8625;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: #ff8625;
            color: white;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 19.6%;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ff8625;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}*/

/*#header {
    position: fixed;
    height: 120px;
    width: 100%;
    border-bottom: double mediumslateblue;
    background-color: black;
    display: block;
    z-index: 1;
    top: 0px;
    left: 0px;
}*/


/*#userdiv {
    position: relative;
    height: 60%;
    width: 45%;
    left: 30%;
    top: 10%;
    background-color: transparent;
    margin:auto;
    
    border-radius: 10px 10px;
}*/

.heading {
    text-align: center;
    position: relative;
    width: 100%;
    color: #ff8625;
    font-weight: 900;
    font-size: 36px;
    text-wrap: normal;
}

/*.textbox {
    width: 80%;
    height: 20px;
    transition: 500ms;
    padding: 3px 3px 3px 3px;
    margin-right: 40px;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family:Arial;
}*/

/*.button {
    border: 2px solid transparent;
    display: block;
    line-height: 42px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    vertical-align: bottom;
    border-image: initial;
    padding: 8px 0px;
    outline: none;
    background: rgb(255, 134, 37);
    background-image: url(search.png);
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    width: 100%;
}*/
/*#lawndiv {
    position: relative;
    height: 50%;
    width: 50%;
    left: 2%;
    top: 32%;
    background-color: transparent;
    margin:auto;
    
    border-radius: 10px 10px;
}*/

/*#signindiv {
    position: relative;
    height:55%;
    width: 30%;
    /*left: 35%;
    top: 32%;
    background-color:transparent;
    margin:auto;
    border-radius: 10px 10px;
}*/


.backdiv {
    position: relative;
    height: auto;
    width: 30%;
    /*left: 35%;
    top: 32%;*/
    background-color: rgba(0, 0, 0, 0.22);
    margin: 110px auto;
    border-radius: 10px 10px;
    padding:15px 0;
    box-sizing:border-box;
}

/*#bookingdiv {
    position: relative;
    height:55%;
    width: 30%;
    /*left: 35%;
    top: 32%;
    background-color:transparent;
    margin:auto;
    
    border-radius: 10px 10px;
}*/

/*logout css*/
#welcomeVender {
    position: absolute;
    left: 85%;
    top: 22%;
    font-size: small;
}

#welcome {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

    li a:hover, drop:hover {
        background-color: #ff8625;
    }

li.drop {
    display: inline-block;
}

.drop-content {
    display: none;
    position: relative;
    background-color: white;
    width: 100%;
}

    .drop-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.drop-contet a:hover {
    background-color: #ff8625;
    color: white;
}

.drop:hover .drop-content {
    display: block;
}

.drop {
    background-color: #ff8625;
    color: white;
    padding: 12px 16px;
    text-align: center;
}

#welcomeuser {
    position: absolute;
    left: 85%;
    top: 22%;
    font-size: small;
}

#welcome1 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#divbtn {
    position: absolute;
    top: 45%;
    width: 70%;
    left: 33%;
}

.buttonvender {
    height: 80px;
    width: 40%;
    left: 30%;
    border: 2px dashed gray;
    background: none;
    font-size: large;
}
/*Search Filter CSS*/
#searchfilter {
    font-family: Arial;
    color: dimgray;
}

#search-area {
    position: fixed;
    top: 45%;
    left: 14.8%;
    height: 50px;
    width: 22%;
    background-color: white;
    padding-left: 2%;
    line-height: 50px;
    font-family: Arial;
    border: 1px solid gray;
}

#drop-search-area {
    position: fixed;
    width: 22%;
    height: 300px;
    top: 52.5%;
    background-color: white;
    left: 14.8%;
    border: 1px solid gray;
    overflow-y: scroll;
    display: none;
    z-index: 1;
}

.searchbar {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    height: 55px;
}

.searchtext {
    position: absolute;
    top: 17%;
    left: 7%;
    height: 27px;
    width: 85%;
}

.allarea {
    position: absolute;
    padding-top: 8px;
    padding-left: 5px;
}

.populararea {
    padding-top: 0px;
    padding-left: 15px;
}

#search-capacity {
    position: fixed;
    top: 45%;
    left: 37.2%;
    height: 50px;
    width: 22%;
    background-color: white;
    padding-left: 2%;
    line-height: 50px;
    font-family: Arial;
    border: 1px solid gray;
}

#drop-search-capactiy {
    position: fixed;
    width: 22%;
    height: 300px;
    top: 52.5%;
    background-color: white;
    left: 37.2%;
    border: 1px solid gray;
    overflow-y: scroll;
    display: none;
    z-index: 1;
}

#search-button {
    position: fixed;
    top: 45%;
    left: 59.6%;
    width: 30%;
    height: 40px;
}
/*Lawn Data CSS*/
#datagrid {
    position: absolute;
    left: 2%;
    z-index: -1;
}

#DataView {
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0%;
    height: auto;
}

#lawnData {
    position: absolute;
    width: 65%;
    height: 150px;
    border: 1px solid lightgray;
    left: 5%;
    background-color: white;
}

#dataimg {
    position: absolute;
    top: 5%;
    border: 1px solid lightgray;
    height: 80px;
    width: 20%;
    left: 5%;
}

#Namediv {
    position: absolute;
    top: 3%;
    left: 30%;
    font-size: 30px;
    font-weight: 700;
    color: gray;
}

#Addressdiv {
    position: absolute;
    top: 25%;
    left: 30%;
    font-family: aril;
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

#Capacitydiv {
    position: absolute;
    top: 38%;
    left: 30%;
    font-family: aril;
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

#Rentdiv {
    position: absolute;
    top: 51%;
    left: 30%;
    font-family: aril;
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

#Buttondiv {
    position: absolute;
    top: 40%;
    left: 78%;
    width: 28%;
}

/*Slider CSS*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
    max-height: 100%;
}

/*#slider {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    z-index: -1;
}*/

/*Lawn Data Css*/
#datagrid {
    position: absolute;
    display: block;
    width: 96%;
    height: 100%;
    margin-top:150px;
}

/*Search Filter Lawn*/

#searchfilterL {
    font-family: Arial;
    color: dimgray;
}

#search-areaL {
    position: absolute;
    top: 30%;
    left: 14.8%;
    height: 50px;
    width: 22%;
    background-color: white;
    padding-left: 2%;
    line-height: 50px;
    font-family: Arial;
    border: 1px solid gray;
}

#drop-search-areaL {
    position: absolute;
    width: 22%;
    height: 300px;
    top: 38%;
    background-color: white;
    left: 14.8%;
    border: 1px solid gray;
    overflow-y: scroll;
    display: none;
    z-index: 1;
}

.searchbarL {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    height: 55px;
}

.searchtextL {
    position: absolute;
    top: 17%;
    left: 7%;
    height: 27px;
    width: 85%;
}

#search-capacityL {
    position: absolute;
    top: 30%;
    left: 39.5%;
    height: 50px;
    width: 22%;
    background-color: white;
    padding-left: 2%;
    line-height: 50px;
    font-family: Arial;
    border: 1px solid gray;
}

#drop-search-capactiyL {
    position: absolute;
    width: 22%;
    height: 300px;
    top: 38%;
    background-color: white;
    left: 39.5%;
    border: 1px solid gray;
    overflow-y: scroll;
    display: none;
    z-index: 1;
}

#search-buttonL {
    position: relative;
    width: 10%;
    top: 20%;
    right: 0;
    float: right;
    margin: auto;
    height: auto;
}

/*Search CSS*/

#SearchArea {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #myUL li {
        width: 100%;
    }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

            #myUL li a:hover:not(.header) {
                background-color: #eee;
            }
/*Details Page CSS*/
#content {
    position: relative;
    width: 100%;
    background-color: none;
    height: auto;
    left: 0%;
}

/*.lbName {
    position: absolute;
    width: 30%;
    color: #000;
    font:30px Arial;
    top: 5%;
    left: 5%;
}*/

.lbAddress {
    position: absolute;
    width: 50%;
    height: 15px;
    color: #000;
    font: 30px Arial;
    top: 20%;
    left: 5%;
}

#Calendar {
    display:block;
    background-color: #b7b7b7;
    background-color: lightgray;
    width: 22%;
    float:right;
    height: 250px;
    margin:20px 180px auto auto;
}

.lawndate {
    width: 88%;
    height: 30px;
    background-color: white;
    font-family: Arial;
    margin:10px auto 0 auto;
    display:block;
}

.name {
    display:block;
    height: auto;
    color: black;
    font-size:25px;
    margin-top:18px;
    text-align:center;
}

.btn1 {
    height: 35px;
    width: 60%;
    background-color: darkorange;
    border:none;
    color: white;
    font-family:Arial;
    font-size:15px;
    top:40%;
    left:20%;
    display:block;
    margin:20px auto 0 auto;
}

.search-text {
    height: 35px;
    width: 50%;
}

/*Search Filter Css*/
.Search {
    background-color: #b7b7b7;
    background-color: #bba7a7;
    margin: 0 0 50px 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 100%;
    height: auto;
    margin-top:50px;
    position:fixed;
}

.frame {
    width: 936px;
    margin: auto;
}

.filter {
    padding: 20px;
}

.fiterbar {
    background: #fff;
    border-radius:4px 4px;
    /*margin: 0;
    padding: 0;
    vertical-align: baseline;*/
}

.filter-right {
    float: right;
    height: 33px;
    border-radius: 0 4px 4px 0;
    margin: 0;
    padding: 0;
}

.dropdown {
    cursor: pointer;
    float: left;
    position: relative;
    height: 33px;
    background: #f3f3f3;
    border:1px solid rgba(134, 134, 134, 0)
}

/*.filter-right .dropdown:first-child {
    border-left: none;
}
.filter-right .dropdown {
    border-left: 1px solid #cdcdcd;
}*/

.dropdown-span {
    overflow: hidden;
    width:92px;
    margin: 0 0 0 0;
}

.dropdown-icon {
    float: right;
    width: 7px;
    height: 7px;
    margin: 14px 6px 0 0;
    background-image: url("downArrow.png");
    background-size: 7px 7px;
}

.dropdown-label {
    display: block;
    margin: 0 20px 0 7px;
    color: #888;
    white-space: nowrap;
    font-size: 12px;
    line-height: 33px;
}

.dropdown-select {
    display: block;
    cursor: pointer;
    outline: none;
    visibility: visible;
    position: absolute;
    top: -1px;
    left: 0;
    width: auto;
    height: 33px;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index:99;
    background-color:#f6f6f6;
}

.search-button {
    overflow: hidden;
    float: right;
    position: relative;
    width: 45px;
    height: 33px;
    margin: 0 0 0 0;
    border-radius: 0 4px 4px 0;
    background: #fff;
    border: 1px solid #6cc0e1;
}

.search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    background-image: url("search.png");
    background-size: 25px 25px;
}

.button-Search {
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -1000px;
    border: none;
    background: transparent;
}

.filter-fill {
    overflow: hidden;
    position: relative;
    height: 33px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    border-right: none;
    margin:0 -14px;
}

.filter-field {
    display: block;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 31px;
    padding: 5px 0 6px 0;
    color: #333;
    text-indent: 8px;
    font-size: 0.9em;
    border: none;
    font-family:Arial;
    font-size:15px;
    font-variant-caps:inherit;
}

#ContentPlaceHolder1_SearchArea{margin-left:-15px;}

.cb {
clear:both;
float:none;
}

input[type="text"],input[type="password"],input[type="tel"],input[type="email"], input[type="number"] {
font-family:Arial; color:black;
}

/*User menu Css*/


.user-div{width:100%; background-color:#b7b7b7; height:auto; position:fixed; top:0; z-index:999;}
.user-div{width:100%; background-color:#bba7a7; height:auto; position:fixed; top:0; z-index:999;}
.user-div h3{display:inline-block; margin:14px 0 0 4px; position:absolute;}
.toggle{margin:5px 0 5px 10px; padding:5px; border-radius:5px; box-sizing: border-box; background-color:#f6f6f6;}
.user-div .userdiv-right{width:25%; float:right;}
.user-div .userdiv-right .fa-user{font-size:18px; color:#FF8C00; margin:17px 5px 0 0;}
.user-div .userdiv-right .user-label{font-family:Arial; font-size:15px;}
.user-div .userdiv-right .fa-sign-out{font-size:18px; color:#FF8C00; margin:17px 5px 0 20px;}
.user-div .userdiv-right .user-label-logout{font-family:Arial; font-size:15px;}

.container{margin:0; padding:0;}
.container .carousel{position:fixed; width:100%; height:100%; top:0; z-index:-1;}
.carousel-inner .item img{width:100%; min-height:100%; opacity:0.5;}
.carousel-inner{height:250px;}